:root {
  --branding-color: #2080b1;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
h4 {
  font-family: var(--default-font-family);
}
h2 span {
  box-shadow: inset 0px -5px 0px 0px var(--branding-color);
}
p {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  padding: 80px 20px;
}
.hero-socials {
  position: absolute;
  top: 50%;
  rotate: 90deg;
  transform: translateY(287%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 0.5rem;
}
.hero-socials i {
  rotate: 270deg;
}
.hero h1 {
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 75px;
}
.hero h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
}
.about-paragraph {
  margin: 0 10px;
  padding: 0 20px;
}
.skills p {
  font-size: 15px;
}
nav h4 {
  text-transform: uppercase;
  line-height: 40px;
}
.btn-branding {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 18px 30px;
  width: 200px;
  background: var(--branding-color);
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  font-family: var(--heading-font-family);
  text-decoration: none;
  transition: transform 300ms;
}
.btn-branding:hover {
  transform: translateY(-3px);
}

.box {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  height: 303px;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--branding-color);
}
.bitmoji-hello {
  height: 245px;
  transform: translate(-50px, 47px);
}
.content-wrapper {
  margin: 5px 30px;
}

.coding-elements {
  display: flex;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}
.coding-elements li {
  padding: 10px;
  padding-left: 0;
}
.project-links a {
  padding: 7px;
  padding-left: 0px;
}
i {
  color: var(--branding-color);
}
.project-links i {
  width: 25px;
  height: 25px;
}
.icon-skill {
  display: block;
  height: 70px;
  width: 70px;
  margin: 0 auto;
}
.icon-ref {
  font-size: 10px;
}
.my-work img {
  height: 300px;
  width: 650px;
}
.project-content {
  position: relative;
  top: -37px;
  background-color: var(--secondary-color);
  border: 3px double var(--branding-color);
  border-radius: 10px;
}
.email a {
  text-decoration: none;
  font-family: var(--default-font-family);
}
nav {
  padding: 20px 0;
}
nav ul,
.small-menu-content ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: 15px;
}
nav a,
.small-menu-content a {
  text-decoration: none;
  color: #333;
  transition: all ease-in-out 100ms;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.small-menu-content li {
  list-style: none;
  font-style: var(--heading-font-family);
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 5px;
}
footer {
  background-color: var(--secondary-color);
}
footer p {
  font-size: 16px;
  line-height: 24px;
}
.logo {
  position: relative;
  height: 35px;
  bottom: 4.5px;
}

@media (max-width: 960px) {
  .hero {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .content-wrapper {
    padding: 0;
    text-align: center;
  }
  .coding-elements {
    display: flex;
    justify-content: center;
  }
  .skills p {
    font-size: 10px;
  }
  .skills .row {
    display: inline-flex;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .icon-skill {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }
  .icon-ref {
    font-size: 8px;
    margin-bottom: 12px;
  }
  .my-work img {
    height: 70%;
    width: 100%;
  }
  .project-content {
    width: 300px;
    transform: scale(60%);
    margin: 0 auto;
  }

  footer p {
    font-size: 12px;
  }
}
