h1,
h2 {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 75px;
}
h2 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
}
.btn-branding {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 18px 30px;
  width: 200px;
  background: #2080b1;
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: transform 300ms;
}
.btn-branding:hover {
  transform: translateY(-3px);
}

.box {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  height: 300px;
  margin: 0 auto;
  background-color: #2080b1;
}
p {
  font-family: "Poppins", sans-serif;
}
