h1,
h2 {
  font-family: "Roboto Flex", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}
.box {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  height: 300px;
  background-color: aqua;
}
